<div class="container">
  <h2>Tasks Currently Available</h2>
  <div class="row">
    <div class="col-4">
      <div ng-repeat="task in vm.tasks">
        <!-- ._id for mongo and .id for postgres db -->
        <img class="taskIndexImage" ng-src="{{task.user.company_logo}}" ui-sref="userShow({ id: user.id })">
        <div class="col-8">
          <a class="" ui-sref="tasksShow({ id: task.id })">
            <h4>{{ task.name }}</h4>
          </a>
          <p>{{ task.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <button type="button" name="back" class="btn btn-info" ui-sref="usersShow({ id: vm.user._id })">Back</button> -->
  <button type="button" class="btn btn-info" ui-sref="tasksNew">Add Task</button>
</div>
