<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="">
        <h3>Task posted by: {{ vm.task.user.username }}</h3>
        <img ng-src="{{vm.task.user.image }}">
        <p>{{ vm.task.user.company_name }}</p>
        <p>{{ vm.task.user.company_website }}</p>
        <p>{{ vm.task.name}}</p>
        <p>{{ vm.task.description}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="">
        <button type="button" name="back" class="btn btn-info" ui-sref="#">Contact Task Owner</button>
      </div>
      <div class="">
        <button type="button" name="back" class="btn btn-info" ui-sref="tasksIndex">Return to Available Tasks</button>
      </div>
    </div>
  </div>
</div>
