<div class="container taskShowPage">
  <div class="row">
    <div class="col-md-12 img-container">
      <h2 class="userIndexHeader">Task posted by {{ vm.task.user.first_name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <img class="userShowImage" ng-src="{{vm.task.user.image }}">
    </div>

    <div class="col-md-6">
      <h2 class="taskShowName">{{ vm.task.name }}</h2>
      <p>{{ vm.task.description }}</p>
      <h3><img src="../images/browser-small.png" alt="website" class="userShowIcon"><a ng-href="{{ vm.task.user.company_website }}" target="_blank">{{ vm.task.user.company_name }}</a></h3>

      <p><img src="../images/user-small.png" alt="user profile" class="userShowIcon">
      <a class="" ui-sref="usersShow({ id: vm.task.user.id })">View {{ vm.task.user.first_name }}'s user profile</a></p>

        <p><img src="../images/contact-small.png" alt="email" class="userShowIcon"><a href="mailto:vm.user.email">Contact {{ vm.task.user.first_name }}</a></p>
      </div>
    </div>
    <div class="row userShowButtonSection">
      <div class="col-md-6">
        <button type="button" class="btn btn-danger deleteButton" ng-click="vm.delete(vm.task)">Delete Task</button>
      </div>
      <div class="col-md-6">
        <div class="showBackButton">
          <button type="button" name="back" class="btn btn-info" ui-sref="tasksIndex">Return to Available Tasks</button>
        </div>
      </div>
    </div>
  </div>
