.btn.btn-primary {
  background-color: orange;
  border-color: silver;
  color: #fff;
}
.btn.btn-primary:hover {
  background-color: silver;
  border-color: silver;
}

.btn.btn-danger {
  background-color: #58B09C;
  border-color: silver;
  color: #fff;
}
.btn.btn-danger:hover {
  background-color: silver;
  border-color: silver;
}
.skillLabel {
  background-color: #58B09C;
  border-color: silver;
  color: #fff;
}
