.homeStrap {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: orange;
  padding-top: 260px;
}

.homeHeading {
  font-size: 42px;
  color: orange;
}

.homeSocial {
  margin-top: 50px;
}

.homeContact {
  display: block;
}


#collaboration {
    display:none;
}
#yellowHeart:hover #collaboration {
    display:block;
}
