.userIndexImage {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  border: 1px grey solid;
}
.img-container {
  text-align: center;
}
.userShowImage {
  width: 300px;
  height: 300px;
  border: 1px grey solid;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}
.taskIndexImage {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 1px silver dotted;
  margin-top: 12px;
  margin-left: 40px;
}
.taskShowImage {
  width: 300px;
  height: 300px;
}
.navbar {
  height: 80px;
}
.navbar-right {
  margin-top: 10px;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}
