// .jumbotron {
//   background-image: url("http://timesofindia.indiatimes.com/photo/52758139.cms");
//   text-align: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;
//   color: white;
//   padding-bottom: 364px;
//   opacity: 0.7;
// }
//
// .container h1,h3 {
//   color: gold;
// }

#section-1 {
  background-image: url("http://timesofindia.indiatimes.com/photo/52758139.cms");
  height: 500px;
  background-size: cover;
}

#section-3 {
  background-image: url("http://i.telegraph.co.uk/multimedia/archive/02164/motherBaby_2164044b.jpg");
  background-size: cover;
  height: 500px;
}

#section-5 {
  background-color: orange;
  height: 120px;
}

.heart {
  width: 100px;
}

.logo {
  height: 50px;
}

.userIndexImage {
  width: 250px;
  height: 250px;
  border-radius: 200px;
}

.img-container {
  text-align: center;
}

.userShowImage {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;

}

.taskIndexImage {
  width: 50px;
  height: 50px;
}

.taskShowImage {
  width: 300px;
  height: 300px;
}

.navbar {
  height: 80px;
}

.navbar-right {
  margin-top: 10px;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}
