.login {
  max-width: 60%;
  background-color: #f9f3c2;
  border: 1px gold dotted;
  border-radius: 15px;
  opacity: 0.7;
}
.loginButton {
  margin-bottom: 12px;
}
.loginHeader {
  color: orange;
  text-align: center;
  font-size: 48px;
}

.form-control {
  border-radius: 0px;
  font-size: 16px;
}

// .loginFooter {
//   background-color: #FFEE88;
//   border: 1px gold dotted;
//   height: 80px;
//   margin-top: 20px;
// }
