.login {
  max-width: 60%;
  background-color: #FFEE88;
  border: 2px gold dotted;
  border-radius: 15px;
  opacity: 0.7;
}

.loginHeader {
  color: orange;
  font-size: 48px;
}

// .loginFooter {
//   background-color: #FFEE88;
//   border: 1px gold dotted;
//   height: 80px;
//   margin-top: 20px;
// }
