// Import all of your scss files here

@import "buttons";
@import "homePage";
@import "image_styles";
@import "loginRegisterPage";
@import "taskShowPage";
@import "taskIndexPage";
@import "userIndexPage";
@import "userShowPage";


.logoBox {
  border: 1px solid silver
}

body {
  font-family: 'Dosis', sans-serif;
}

nav, p, li {
  font-size: 16px;
}

a {
  color: grey;
}

a:hover {
    text-decoration: none;
}

.navbar {
  background-color: #9BDEAC;

}
