.taskIndexPage {
  max-width: 80%;
}
.taskIndexHeader {
  color: orange;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px #464E47 solid;
}
.taskIndexImageColumn {
    width: 150px;
}
.taskIndexImageColumn:hover {
  // background-image: url('../images/marisaLogo.png');
}
.taskIndexAdd {
  padding-top: 10px;
  text-align: center;
}
.taskIndexRow {
    border-bottom: 1px #464E47 dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}
.taskName {
  color: orange;
}

.taskIndexDescColumn:hover {
  background-color: #F6F4F3;
  opacity: 0.7;
  border-radius: 15px;
}
