.taskIndexHeader {
  color: orange;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 2px #464E47 solid;
}
.taskIndexImageColumn {
    width: 200px;
}
.taskIndexRow {
    border-bottom: 1px #464E47 dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}
.taskName {
  color: orange;
}
