.userIndexHeader {
  color: orange;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 2px #464E47 solid;
}

.userIndexName {
  color: #464E47;
  text-transform: lowercase;
  font-size: 36px;
}

.userIndexList{
  padding-top: 30px;
}

.skillLabel {
  margin-right: 12px;
}
.userIndexImage {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.userIndexImage:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
