.showBackButton {
  text-align: right;
}
.userShowBio {
  font-size: 20px;
}
.userShowIcon{
  margin-right: 6px;
}
.userShowImage {
  border-radius: 150px;

}
.userShowSkills {
  color: orange;
  font-size: 36px;
}
.userShowButtonSection {
    margin-top: 50px;
    padding-top: 15px;
    border-top: 2px #464E47 solid;
}

li {
    list-style-type: star;
}
