<!--
<div class="jumbotron">
<div class="container">
<h1>Mum Does That</h1><br>
<h3>A skills and knowledge sharing marketplace harnesses the diverse skills and capabilities of professional women on career breaks</h3>
<! <img src="../images/marisaLogo.png" alt=""> -->
<!-- </div> -->
<!-- <img src="../images/newImage.jpg" alt=""> -->
<!-- <h1 class="display-3">Hello, world!</h1>
<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
<hr class="my-4">
<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
<p class="lead">
<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</p> -->
<!-- </div> -->

<!--Main parallax wrapper-->
<div class="parallax">
  <!--First section-->
  <div id="section-1" class="parallax-section">
    <!--Parallax content-->
    <div class="parallax-layer parallax-layer-base">
      <!--Container to center the content-->
      <div class="full-bg-img flex-center">
        <ul>
          <p class="homeStrap">A skills and knowledge sharing marketplace harnessing the diverse skills of professional women on career breaks</p>
        </ul>

      </div>
      <!--/Container to center the content-->
    </div>
    <!--/Parallax content-->

    <!--Parallax background-->
    <div class="parallax-layer parallax-layer-back">
    </div>
    <!--/Parallax background-->
  </div>
  <!--/First section-->
  <!--Dummy Content-->

  <div id="section-2">
    <div class="container text-center pt-1 mb-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="mt-3 mb-3 h1-responsive homeHeading">About Us</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum tempore laboriosam autem ratione adipisci dignissimos praesentium qui, repudiandae inventore, unde, officia at quam explicabo eveniet deserunt necessitatibus enim. Doloribus,inventore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusamus perspiciatis debitis quia porro aliquid magnam illum consequatur quaerat culpa in voluptates, adipisci assumenda consectetur quibusdam consequuntur officia harum earum.</p>
        </div>
      </div>
    </div>
  </div>
  <!--Dummy Content-->
</div>
<div id="section-3">
  <div class="container text-center pt-1 mb-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul>
          <p class="homeStrap">Unnderstanding what's important to you</p>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="section-4">
  <div class="container text-center pt-1 mb-3">
    <div class="row">
      <div class="col-md-12 howItWorks">
        <h1 class="homeHeading">Our Values</h1>
        <div class="row">
          <div class="col-sm-4">
            <p class="values">Collaboration</p>
            <img class="heart" src="../images/yellow-heart.png" alt="yellow heart">
          </div>
          <div class="col-sm-4">
            <p class="values">Reliability</p>
            <img class="heart" src="../images/red-heart.png" alt="red heart">
          </div>
          <div class="col-sm-4">
            <p class="values">Flexibility</p>
            <img class="heart" src="../images/green-heart.png" alt="green heart">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-5">
  <div class="container text-center pt-1 mb-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul>
          <p class="homeStrap">Helping mums find work that works</p>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="section-6">
  <div class="container text-center pt-1 mb-3">
    <div class="row">
      <div class="col-md-12 howItWorks">
        <h1 class="homeHeading">How It Works</h1>
        <div class="row">
          <div class="col-sm-4">
            <p class="values">Post a task</p>
            <img class="homeTaskImage" src="../images/list.png" alt="">
          </div>
          <div class="col-sm-4">
            <p class="values">Search for skills</p>
            <img class="homeTaskImage" src="../images/search.png" alt="">
          </div>
          <div class="col-sm-4">
            <p class="values">Create a network</p>
            <img class="homeTaskImage" src="../images/group.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-7">
  <div class="container text-center pt-1 mb-3">
    <div class="row">
      <!-- <h1>Footer</h1> -->
      <div class="col-sm-4 homeContact">
        <ul class="leftfoot list-unstyled">
          <li><a href="/" class="none">Home</a></li>
          <li><a href="/" class="none">About</a></li>
          <li><a href="/" class="none">Terms</a></li>
          <li><a href="/" class="none">Privacy</a></li>
          <li><a href="/" class="none">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-4 homeCopyright">
        <p>Mum Does That 2017</p>
      </div>
      <div class="col-sm-4 homeSocial">
        <ul class="rightfoot list-unstyled">
          <div class="social">
            <a href="http://facebook.com/"><img src="images/facebook-white.png" class="navhover"></a>
            <a href="http://linkedin.com/"><img src="images/linkedin-white.png" class="navhover"></a>
            <a href="http://instagram.com/"><img src="images/instagram-white.png" class="navhover"></a>
            <a href="https://twitter.com/"><img src="images/twitter-white.png" class="navhover"></a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--/Main parallax wrapper-->
